.rarity-0 {
    color: rgb(200, 200, 200) !important;
}
.rarity-1 {
    color: rgb(7, 192, 47) !important;
}
.rarity-2 {
    color: rgb(0, 203, 233) !important;
}
.rarity-3 {
    color: rgb(255, 22, 247) !important;
}
.rarity-4 {
    color: rgb(255, 135, 23) !important;
}
.rarity-5 {
    color: rgb(200, 200, 200) !important;
}